* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

figure {
    margin: 0;
}

.menu {
    background: #FFD200;
    min-height: 100vh;
}

.menu__logo {
    margin: 24px;
}

.menu__logo img {
    width: 92px;
    height: 83px;
}

.menu__navegation {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: initial;
    justify-content: space-between;
}

.menu__navegation .nav-item {
    font-weight: 300;
    transition: filter 0.7s;
}

.menu__navegation .nav-item:hover {
    filter:invert(1);
    font-weight: 400;
}

.menu__navegation .navbar-nav {
    text-align: center;
}

.menu__context {
    text-align: center;
    margin-bottom: 28%;
}

.menu__title {
    font-size: 1.7rem;
    font-weight: 400;
}

.menu__title--bold {
    font-weight: 900;
}

.menu__button-map {
    border: none;
    background: transparent;
    margin-top: 48px;
}

.menu__button-map img {
    width: 95px;
    height: 127px;
    transition: filter 0.7s;
}

.menu__button-map:hover img {
    filter: invert(95%);
}

.menu__banner {
    min-height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.menu__image {
    width: 65%;
}

.menu__image img {
    width: 100%;
}

@media (min-width: 768px)
{
    .menu {
        background: linear-gradient(90deg, #FFD200 50%, #EDB506 50%);
    }

    .menu__navegation {
        height: 80%;
    }

    .menu__navegation {
        align-items: center;
        justify-content: center;
    }

    .menu__navegation .navbar-nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    .menu__title {
        font-size: 2.6rem;
    }

    .menu__context {
        margin-bottom: 0;
    }
}